html {
	scroll-behavior: smooth;
}

body {
	background-color: #080708;
/*	font-family: 'Reem Kufi Fun', sans-serif;*/
font-family: 'Reem Kufi', sans-serif;
color: #eff6e0;
}

.theme-light {
	background-color: #e6e8e6;
}

/* NAVBAR */
.navbar-brand {
	font-size: 1.8rem !important;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	letter-spacing: 0.1rem;
}

.nav-item {
	font-size: 1.2rem;
}

.scrolled {
	transition: 0.4s;
	box-shadow: 0px 1px 10px #333;
}

.scrolled a {
	color: #343a40;
}

.scrolled [href="#main"]  {
	font-weight: bold;
}


/*END OF NAVBAR */

/* LANDING */

#aboutme h2 {
	font-weight: bold;
}

#aboutme p {
	font-size: 1.5rem;
	letter-spacing: 0.12rem;
	line-height: 1.5;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	word-spacing: 0.5rem;
}

#social-links a {
	color: #eff6e0;
	font-size: 1.4rem;
}

#social-links a svg {
	position: relative;
	bottom: 0.3rem;
	margin-right: 0.3rem;
}

#fswd {
/*	letter-spacing: 0.1rem;*/
}

#landing {
	margin-top: 10rem;
	background-size: cover;
	background-position: center;
	min-height: 40vh;
}

#fg-landing {
	background-color: rgba(0, 0, 0, 0.5);
}

/*END OF LANDING */

.project-description p{
	letter-spacing: 0.05rem;
	word-spacing: 0.1rem;
}

/* PROJECTS SECTION */


/* END PROJECTS SECTION */

/* TOOLS SECTION */
#tools img {
	width: 8rem;
}

/* END OF TOOLS SECTION */


/* CONTACT SECTION */
#contact {
	min-height: 60vh;
}

#contact label {
	letter-spacing: 0.05rem;
	word-spacing: 0.1rem;
}
/* END CONTACT SECTION */

/* FOOTER SECTION */
footer {
	letter-spacing: 0.05rem;
	word-spacing: 0.1rem;
}
/* END FOOTER SECTION */

/* ANCHORS */
#tools-anchor, #projects-anchor, #main-anchor, #contacts-anchor {
	visibility: hidden;
	position: relative;
	top: -50px;
}

#top-anchor {
	visibility: hidden;
	position: relative;
	top: -150px;
}


/* END ANCHORS */